<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9e93142550a6043ea5c737e6af6a41cb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_9e93142550a6043ea5c737e6af6a41cb" ></div>
        
</body>
<script>
    
    
            var map_9e93142550a6043ea5c737e6af6a41cb = L.map(
                "map_9e93142550a6043ea5c737e6af6a41cb",
                {
                    center: [-14.235, -51.9253],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 4,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a7ab484d592507b462d4aa16b40bf0ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 18,
  "maxNativeZoom": 18,
  "noWrap": false,
  "attribution": "OpenStreetMap",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3 = L.heatLayer(
                [],
                {
  "minOpacity": 0.6,
  "maxZoom": 18,
  "radius": 25,
  "blur": 15,
  "gradient": {
  0.4: "blue",
  0.6: "lime",
  0.7: "yellow",
  0.8: "orange",
  1.0: "red",
},
}
            );
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var marker_cluster_47693c356167ab17cb5bc4394919c7d6 = L.markerClusterGroup(
                {
}
            );
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var rectangle_09ef2572ad9579a846ba8afa87b908b4 = L.rectangle(
                [[-10.0, -74.0], [5.0, -50.0]],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
        var popup_9abf472d3022e272e9dc5a51dba16bbf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_390c6c4da65e04bb3450554e61166f8b = $(`<div id="html_390c6c4da65e04bb3450554e61166f8b" style="width: 100.0%; height: 100.0%;"><b>Região Amazônia</b></div>`)[0];
                popup_9abf472d3022e272e9dc5a51dba16bbf.setContent(html_390c6c4da65e04bb3450554e61166f8b);
            
        

        rectangle_09ef2572ad9579a846ba8afa87b908b4.bindPopup(popup_9abf472d3022e272e9dc5a51dba16bbf)
        ;

        
    
    
            rectangle_09ef2572ad9579a846ba8afa87b908b4.bindTooltip(
                `<div>
                     Amazônia
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var rectangle_9e697a0a9bc8398e78c3504f22edcff8 = L.rectangle(
                [[-20.0, -60.0], [-15.0, -55.0]],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
        var popup_52d4740533d49b3748de757ec5dc8463 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f00240579d7c2655928e2d06239d4d00 = $(`<div id="html_f00240579d7c2655928e2d06239d4d00" style="width: 100.0%; height: 100.0%;"><b>Região Pantanal</b></div>`)[0];
                popup_52d4740533d49b3748de757ec5dc8463.setContent(html_f00240579d7c2655928e2d06239d4d00);
            
        

        rectangle_9e697a0a9bc8398e78c3504f22edcff8.bindPopup(popup_52d4740533d49b3748de757ec5dc8463)
        ;

        
    
    
            rectangle_9e697a0a9bc8398e78c3504f22edcff8.bindTooltip(
                `<div>
                     Pantanal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var rectangle_4a2773e5062d125816c740b0b1a67593 = L.rectangle(
                [[-20.0, -55.0], [-10.0, -40.0]],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
        var popup_694995c20e669e23bf8f7f3e4edfee78 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a196c6f988edbe7dc94a7aa551d105e5 = $(`<div id="html_a196c6f988edbe7dc94a7aa551d105e5" style="width: 100.0%; height: 100.0%;"><b>Região Cerrado</b></div>`)[0];
                popup_694995c20e669e23bf8f7f3e4edfee78.setContent(html_a196c6f988edbe7dc94a7aa551d105e5);
            
        

        rectangle_4a2773e5062d125816c740b0b1a67593.bindPopup(popup_694995c20e669e23bf8f7f3e4edfee78)
        ;

        
    
    
            rectangle_4a2773e5062d125816c740b0b1a67593.bindTooltip(
                `<div>
                     Cerrado
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var rectangle_1bc4414d00cb596ec78dc772b7859cd9 = L.rectangle(
                [[-25.0, -48.0], [-15.0, -38.0]],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
        var popup_6d25a8943ea449c050cc63517314957f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_32fa47b2892f9d880e33a37b837b828a = $(`<div id="html_32fa47b2892f9d880e33a37b837b828a" style="width: 100.0%; height: 100.0%;"><b>Região Mata Atlântica</b></div>`)[0];
                popup_6d25a8943ea449c050cc63517314957f.setContent(html_32fa47b2892f9d880e33a37b837b828a);
            
        

        rectangle_1bc4414d00cb596ec78dc772b7859cd9.bindPopup(popup_6d25a8943ea449c050cc63517314957f)
        ;

        
    
    
            rectangle_1bc4414d00cb596ec78dc772b7859cd9.bindTooltip(
                `<div>
                     Mata Atlântica
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            L.control.fullscreen(
                {
  "position": "topright",
  "title": "Full Screen",
  "titleCancel": "Exit Full Screen",
  "forceSeparateButton": false,
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var tile_layer_b585ffcd49587546881f8216292077fb = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detect_retina": false, "max_native_zoom": 19, "max_zoom": 19, "min_zoom": 0, "no_wrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_bc518e564553ec326eae57852372d241 = new L.Control.MiniMap(
                tile_layer_b585ffcd49587546881f8216292077fb,
                {
  "position": "bottomleft",
  "width": 150,
  "height": 150,
  "collapsedWidth": 25,
  "collapsedHeight": 25,
  "zoomLevelOffset": -5,
  "centerFixed": false,
  "zoomAnimation": false,
  "toggleDisplay": false,
  "autoToggleDisplay": false,
  "minimized": false,
}
            );
            map_9e93142550a6043ea5c737e6af6a41cb.addControl(mini_map_bc518e564553ec326eae57852372d241);
        
    
            var layer_control_14959028a496688e8a56054df41e6697_layers = {
                base_layers : {
                    "https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png" : tile_layer_a7ab484d592507b462d4aa16b40bf0ba,
                },
                overlays :  {
                    "Intensidade de Fogo" : heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3,
                    "Focos de Inc\u00eandio" : marker_cluster_47693c356167ab17cb5bc4394919c7d6,
                },
            };
            let layer_control_14959028a496688e8a56054df41e6697 = L.control.layers(
                layer_control_14959028a496688e8a56054df41e6697_layers.base_layers,
                layer_control_14959028a496688e8a56054df41e6697_layers.overlays,
                {
  "position": "topright",
  "collapsed": true,
  "autoZIndex": true,
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);

        
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var marker_f1b2c1c02e92517f9caaeb6fc8b35ee0 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_762d52e9d1379ff11a5fa9e6da22257f = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_59c7551fdf5be40989db852beac08b7b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f558b3325c18c6a5224366f05b90be8 = $(`<div id="html_3f558b3325c18c6a5224366f05b90be8" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_59c7551fdf5be40989db852beac08b7b.setContent(html_3f558b3325c18c6a5224366f05b90be8);
            
        

        marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.bindPopup(popup_59c7551fdf5be40989db852beac08b7b)
        ;

        
    
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
            var marker_7574b46517bd3322c8d45dc349e2a954 = L.marker(
                [-5.85087294217761, -42.27726404214196],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_75188f22535f898c9c0f74cc9dcc8746 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "fire",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d5db6ff231528c373b98c7d90fea1c16 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3a3ae4fe5f326c00eb9b36310ffb6ae7 = $(`<div id="html_3a3ae4fe5f326c00eb9b36310ffb6ae7" style="width: 100.0%; height: 100.0%;">Fogo ativo - Amazônia (Severidade: 5)</div>`)[0];
                popup_d5db6ff231528c373b98c7d90fea1c16.setContent(html_3a3ae4fe5f326c00eb9b36310ffb6ae7);
            
        

        marker_7574b46517bd3322c8d45dc349e2a954.bindPopup(popup_d5db6ff231528c373b98c7d90fea1c16)
        ;

        
    
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
            var marker_2d2a474e9cd8d6eef4ce60c483213daf = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_6bd526aca5d7e47534d1873e3a141afa = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ffbba825cc802873a708b84280a2c4a8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35395a062afde5b021d0e4fa8fbd4e0e = $(`<div id="html_35395a062afde5b021d0e4fa8fbd4e0e" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_ffbba825cc802873a708b84280a2c4a8.setContent(html_35395a062afde5b021d0e4fa8fbd4e0e);
            
        

        marker_2d2a474e9cd8d6eef4ce60c483213daf.bindPopup(popup_ffbba825cc802873a708b84280a2c4a8)
        ;

        
    
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
            var marker_1baadfcfa9973ffff573af5fca363786 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_ade9e63a1c9edae5715c03eae6f587e3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9e04646fde483ba5b7e345672e489c42 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e1e401a0cd5c1318351811bc7d43927f = $(`<div id="html_e1e401a0cd5c1318351811bc7d43927f" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_9e04646fde483ba5b7e345672e489c42.setContent(html_e1e401a0cd5c1318351811bc7d43927f);
            
        

        marker_1baadfcfa9973ffff573af5fca363786.bindPopup(popup_9e04646fde483ba5b7e345672e489c42)
        ;

        
    
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
            var marker_035171050a0578834192ca7b7a99ece1 = L.marker(
                [-1.2100271760088646, -55.03168381064572],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_c049e0653916a06e34838ad1518a78ec = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "fire",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_803af97bff4a7d3a3554176e2216cc19 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_43c19318bcf8059a81b55aa98a8b422f = $(`<div id="html_43c19318bcf8059a81b55aa98a8b422f" style="width: 100.0%; height: 100.0%;">Fogo ativo - Caatinga (Severidade: 5)</div>`)[0];
                popup_803af97bff4a7d3a3554176e2216cc19.setContent(html_43c19318bcf8059a81b55aa98a8b422f);
            
        

        marker_035171050a0578834192ca7b7a99ece1.bindPopup(popup_803af97bff4a7d3a3554176e2216cc19)
        ;

        
    
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
            var marker_7abea7bd12c142d86dd06e50bad9f4e1 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_752c8ab3b34cb4a94e5c6df42590116a = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_76d13b67629ceee8b3c16e19f0208dbc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b90649e0830cb187a5ecf8ff60727ba1 = $(`<div id="html_b90649e0830cb187a5ecf8ff60727ba1" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_76d13b67629ceee8b3c16e19f0208dbc.setContent(html_b90649e0830cb187a5ecf8ff60727ba1);
            
        

        marker_7abea7bd12c142d86dd06e50bad9f4e1.bindPopup(popup_76d13b67629ceee8b3c16e19f0208dbc)
        ;

        
    
    
                marker_7abea7bd12c142d86dd06e50bad9f4e1.setIcon(icon_752c8ab3b34cb4a94e5c6df42590116a);
            
    
            var marker_77d3480530f71a835ac75a2fc18ee38d = L.marker(
                [-1.2100271760088646, -55.03168381064572],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_166ef08a385e055a7eafd31b4fb7d260 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "fire",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_92169f3381ebe4540e51e8073830a065 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_05f13a1edcb35b27f54baea9fc8a9d34 = $(`<div id="html_05f13a1edcb35b27f54baea9fc8a9d34" style="width: 100.0%; height: 100.0%;">Fogo ativo - Caatinga (Severidade: 5)</div>`)[0];
                popup_92169f3381ebe4540e51e8073830a065.setContent(html_05f13a1edcb35b27f54baea9fc8a9d34);
            
        

        marker_77d3480530f71a835ac75a2fc18ee38d.bindPopup(popup_92169f3381ebe4540e51e8073830a065)
        ;

        
    
    
                marker_77d3480530f71a835ac75a2fc18ee38d.setIcon(icon_166ef08a385e055a7eafd31b4fb7d260);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
                marker_7abea7bd12c142d86dd06e50bad9f4e1.setIcon(icon_752c8ab3b34cb4a94e5c6df42590116a);
            
    
                marker_77d3480530f71a835ac75a2fc18ee38d.setIcon(icon_166ef08a385e055a7eafd31b4fb7d260);
            
    
            var marker_60947babff4dbe58d881d50fcde40f25 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_c699084914a4889606fd07b6f85f2627 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_8b60449c81677ade5209d2af3947091c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_77c80b3a975da72e7a8383e5a3f2c8fe = $(`<div id="html_77c80b3a975da72e7a8383e5a3f2c8fe" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_8b60449c81677ade5209d2af3947091c.setContent(html_77c80b3a975da72e7a8383e5a3f2c8fe);
            
        

        marker_60947babff4dbe58d881d50fcde40f25.bindPopup(popup_8b60449c81677ade5209d2af3947091c)
        ;

        
    
    
                marker_60947babff4dbe58d881d50fcde40f25.setIcon(icon_c699084914a4889606fd07b6f85f2627);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
                marker_7abea7bd12c142d86dd06e50bad9f4e1.setIcon(icon_752c8ab3b34cb4a94e5c6df42590116a);
            
    
                marker_77d3480530f71a835ac75a2fc18ee38d.setIcon(icon_166ef08a385e055a7eafd31b4fb7d260);
            
    
                marker_60947babff4dbe58d881d50fcde40f25.setIcon(icon_c699084914a4889606fd07b6f85f2627);
            
    
            var marker_68b5b7876127f5dd67cae4239e4f3ee4 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_03b32887bb3914766240868458569570 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_67ad2f9ed39ae54ce8a7e94f43b9c2f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e6ad7d5c7ef8e7ea9c22b2f3925df064 = $(`<div id="html_e6ad7d5c7ef8e7ea9c22b2f3925df064" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_67ad2f9ed39ae54ce8a7e94f43b9c2f5.setContent(html_e6ad7d5c7ef8e7ea9c22b2f3925df064);
            
        

        marker_68b5b7876127f5dd67cae4239e4f3ee4.bindPopup(popup_67ad2f9ed39ae54ce8a7e94f43b9c2f5)
        ;

        
    
    
                marker_68b5b7876127f5dd67cae4239e4f3ee4.setIcon(icon_03b32887bb3914766240868458569570);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
                marker_7abea7bd12c142d86dd06e50bad9f4e1.setIcon(icon_752c8ab3b34cb4a94e5c6df42590116a);
            
    
                marker_77d3480530f71a835ac75a2fc18ee38d.setIcon(icon_166ef08a385e055a7eafd31b4fb7d260);
            
    
                marker_60947babff4dbe58d881d50fcde40f25.setIcon(icon_c699084914a4889606fd07b6f85f2627);
            
    
                marker_68b5b7876127f5dd67cae4239e4f3ee4.setIcon(icon_03b32887bb3914766240868458569570);
            
    
            var marker_e1af0d869f9fb8a92b807c159945c1a1 = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_f03f7a0167ec39a450f50f16210d3fe7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_882a051337447c970149bb961813154b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a4efd55518e72ade06a952e2a267ea45 = $(`<div id="html_a4efd55518e72ade06a952e2a267ea45" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_882a051337447c970149bb961813154b.setContent(html_a4efd55518e72ade06a952e2a267ea45);
            
        

        marker_e1af0d869f9fb8a92b807c159945c1a1.bindPopup(popup_882a051337447c970149bb961813154b)
        ;

        
    
    
                marker_e1af0d869f9fb8a92b807c159945c1a1.setIcon(icon_f03f7a0167ec39a450f50f16210d3fe7);
            
    
            var marker_ad4179363249097e8688b0699e8f1918 = L.marker(
                [-4.916793015201076, -49.93704888484302],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_bcd91bb3e4a3bc0a2ad538dece18f20c = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "fire",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_294bb0500ec5364c08a053b771c7be03 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0965ad1cfa077412226c3b55885f9674 = $(`<div id="html_0965ad1cfa077412226c3b55885f9674" style="width: 100.0%; height: 100.0%;">Fogo ativo - Mata Atlântica (Severidade: 5)</div>`)[0];
                popup_294bb0500ec5364c08a053b771c7be03.setContent(html_0965ad1cfa077412226c3b55885f9674);
            
        

        marker_ad4179363249097e8688b0699e8f1918.bindPopup(popup_294bb0500ec5364c08a053b771c7be03)
        ;

        
    
    
                marker_ad4179363249097e8688b0699e8f1918.setIcon(icon_bcd91bb3e4a3bc0a2ad538dece18f20c);
            
    
            tile_layer_a7ab484d592507b462d4aa16b40bf0ba.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            heat_map_4fe2c8af2094e2dbeb7c0ed244cd36d3.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            marker_cluster_47693c356167ab17cb5bc4394919c7d6.addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
                marker_f1b2c1c02e92517f9caaeb6fc8b35ee0.setIcon(icon_762d52e9d1379ff11a5fa9e6da22257f);
            
    
                marker_7574b46517bd3322c8d45dc349e2a954.setIcon(icon_75188f22535f898c9c0f74cc9dcc8746);
            
    
                marker_2d2a474e9cd8d6eef4ce60c483213daf.setIcon(icon_6bd526aca5d7e47534d1873e3a141afa);
            
    
                marker_1baadfcfa9973ffff573af5fca363786.setIcon(icon_ade9e63a1c9edae5715c03eae6f587e3);
            
    
                marker_035171050a0578834192ca7b7a99ece1.setIcon(icon_c049e0653916a06e34838ad1518a78ec);
            
    
                marker_7abea7bd12c142d86dd06e50bad9f4e1.setIcon(icon_752c8ab3b34cb4a94e5c6df42590116a);
            
    
                marker_77d3480530f71a835ac75a2fc18ee38d.setIcon(icon_166ef08a385e055a7eafd31b4fb7d260);
            
    
                marker_60947babff4dbe58d881d50fcde40f25.setIcon(icon_c699084914a4889606fd07b6f85f2627);
            
    
                marker_68b5b7876127f5dd67cae4239e4f3ee4.setIcon(icon_03b32887bb3914766240868458569570);
            
    
                marker_e1af0d869f9fb8a92b807c159945c1a1.setIcon(icon_f03f7a0167ec39a450f50f16210d3fe7);
            
    
                marker_ad4179363249097e8688b0699e8f1918.setIcon(icon_bcd91bb3e4a3bc0a2ad538dece18f20c);
            
    
            var marker_25fc766793fe097c6c9aa9773354114e = L.marker(
                [-10.405929589886124, -49.2468617023885],
                {
}
            ).addTo(map_9e93142550a6043ea5c737e6af6a41cb);
        
    
            var icon_a2b46d667c268dd1263427b13df5eedf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "check",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b10fc3ce7c113d4eee05385c476aebee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_43b238592575fc3b78642e47bdcd3ba9 = $(`<div id="html_43b238592575fc3b78642e47bdcd3ba9" style="width: 100.0%; height: 100.0%;">Fogo apagado - Cerrado</div>`)[0];
                popup_b10fc3ce7c113d4eee05385c476aebee.setContent(html_43b238592575fc3b78642e47bdcd3ba9);
            
        

        marker_25fc766793fe097c6c9aa9773354114e.bindPopup(popup_b10fc3ce7c113d4eee05385c476aebee)
        ;

        
    
    
                marker_25fc766793fe097c6c9aa9773354114e.setIcon(icon_a2b46d667c268dd1263427b13df5eedf);
            
</script>
</html>